[Unit]
Description=sigawai wsgi service
After=network.target

[Service]
User=affan
Group=affan
WorkingDirectory=/home/affan/sigawai
ExecStart=/home/affan/.local/bin/gunicorn sigawai.wsgi --bind 0.0.0.0:8001 --log-level error --log-file=- --workers 5 --preload
Restart=always

[Install]
WantedBy=multi-user.target
