{% extends "template.html" %}
{% load basic_auth_generator %}
{% block react %}

    <script type="text/babel">
        axios.defaults.baseURL = 'https://'+window.location.host+'/api';
        axios.defaults.headers.common['Authorization'] = '{% generate_basic 'affan' '12333' %}';
        require(['react-dom', 'react', 'jsx!lib/Scaffold', 'jsx!lib/pages/Login'], function (ReactDOM, React, Scaffold, Login) {
            ReactDOM.render(
                <Scaffold blank={true}><Login/></Scaffold>, document.querySelector('#app')
            )
        });
    </script>

{% endblock %}